<div *ngIf="isLoading" class=" h-full flex items-center justify-center">
  <app-loader></app-loader>
</div>

<div *ngIf="!isLoading" class="px-4 sm:px-6 lg:px-8">
  <div class="flex justify-end flex-wrap items-center gap-3 w-full py-3">
    <div class="">
      <label for="year" class="mb-1 block text-sm font-medium text-primary">Periodo</label>
      <div class=" grid grid-cols-1">
        <select id="year" name="year" [(ngModel)]="yearSelected" (change)="getDeliverableActivities()" class="col-start-1 lg:w-40 row-start-1 block w-full rounded-2xl bg-gray-100 px-3 py-1 md:py-1.5 text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
          <option [value]="years?.first_year">{{years?.first_year}}</option>
          <option [value]="years?.second_year">{{years?.second_year}}</option>
          <option [value]="years?.third_year">{{years?.third_year}}</option>
          <option [value]="years?.fourth_year">{{years?.fourth_year}}</option>
        </select>

      </div>
    </div>

  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr class="divide-x divide-gray-200">
              <th scope="col" class="py-3.5 pr-4 pl-4 text-left text-sm font-semibold text-primary sm:pl-0">Tipo</th>
              <th scope="col" class="py-3.5 pr-4 pl-4 text-left text-sm font-semibold text-primary sm:pl-0">Nombre</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Apropiación Inicial</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Créditos</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Contra Crédito</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Aplazamiento</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Reducciones</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Apropiación Definitiva</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">CDP Expedidos</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">CDP Abiertos</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Disponibilidad Mes</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Compromisos</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Compromisos Mes</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Obligaciones</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Pagos</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Pagos Mes</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Saldo por Comprometer</th>
              <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold text-primary">Saldo disponible</th>
              <th scope="col" class="py-3.5 pr-4 pl-4 text-left text-sm font-semibold text-primary sm:pr-0">Acciones</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <tr *ngFor="let a of deliverableActivities" class="divide-x divide-gray-200">
              <td class="py-4 pr-4 pl-4 text-sm font-medium whitespace-nowrap text-primary sm:pl-0 ">{{a.type == 'ACTIVITY' ? 'Actividad':'Entregable' }}...</td>
              <td class="py-4 pr-4 pl-4 text-sm font-medium whitespace-nowrap text-primary sm:pl-0 ">{{a.name | slice:0:40}}...</td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.initial_approval" [name]="a.expense.initial_approval" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.initial_approval">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.credit_transfer" [name]="a.expense.credit_transfer" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.credit_transfer">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.transfer_with_credit" [name]="a.expense.transfer_with_credit" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.transfer_with_credit">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.displacement" [name]="a.expense.displacement" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.displacement">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.reductions" [name]="a.expense.reductions" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.reductions">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.total_approval" [name]="a.expense.total_approval" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.total_approval">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <!-- <input type="number" [(ngModel)]="a.expense.total_approval" [name]="a.expense.total_approval" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.total_approval"> -->
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <!-- <input type="number" [(ngModel)]="a.expense.total_approval" [name]="a.expense.total_approval" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.total_approval"> -->
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.availability" [name]="a.expense.availability" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.availability">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.cumulative_commitments" [name]="a.expense.cumulative_commitments" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.cumulative_commitments">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.commitments_month" [name]="a.expense.commitments_month" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.commitments_month">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.obligations" [name]="a.expense.obligations" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.obligations">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.accumulated_payments" [name]="a.expense.accumulated_payments" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.accumulated_payments">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.payments_month" [name]="a.expense.payments_month" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.payments_month">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.balance" [name]="a.expense.balance" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.balance">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="a.expense.executed_balance" [name]="a.expense.executed_balance" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="a.expense.executed_balance">
              </td>
              <td class="py-4 pr-4 pl-4 text-sm whitespace-nowrap text-gray-500 sm:pr-0">

                <button (click)="updateDeliverableActivity(a.expense, a.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-green-500 hover:text-green-700">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                  </svg>

                </button>
              </td>
            </tr>
            <tr  class="divide-x divide-gray-200">
              <td class="py-4 pr-4 pl-4 text-sm font-medium whitespace-nowrap text-primary sm:pl-0 ">Total</td>
              <td class="py-4 pr-4 pl-4 text-sm font-medium whitespace-nowrap text-primary sm:pl-0 ">{{codeSelected.name | slice:0:40}}</td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.initial_approval" [name]="totals.initial_approval" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.initial_approval">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.credit_transfer" [name]="totals.credit_transfer" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.credit_transfer">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.transfer_with_credit" [name]="totals.transfer_with_credit" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.transfer_with_credit">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.displacement" [name]="totals.displacement" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.displacement">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.reductions" [name]="totals.reductions" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.reductions">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.total_approval" [name]="totals.total_approval" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.total_approval">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <!-- <input type="number" [(ngModel)]="totals.total_approval" [name]="totals.total_approval" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.total_approval"> -->
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <!-- <input type="number" [(ngModel)]="totals.total_approval" [name]="totals.total_approval" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.total_approval"> -->
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.availability" [name]="totals.availability" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.availability">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.cumulative_commitments" [name]="totals.cumulative_commitments" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.cumulative_commitments">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.commitments_month" [name]="totals.commitments_month" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.commitments_month">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.obligations" [name]="totals.obligations" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.obligations">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.accumulated_payments" [name]="totals.accumulated_payments" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.accumulated_payments">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.payments_month" [name]="totals.payments_month" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.payments_month">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.balance" [name]="totals.balance" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.balance">
              </td>
              <td class="p-4 text-sm whitespace-nowrap text-gray-500">
                <input type="number" [(ngModel)]="totals.executed_balance" [name]="totals.executed_balance" class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base  outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 min-w-40 " [id]="totals.executed_balance">
              </td>
              <td class="py-4 pr-4 pl-4 text-sm whitespace-nowrap text-gray-500 sm:pr-0">


              </td>
            </tr>

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
