


<div class="bg-white rounded-xl mt-10 p-3 py-5">

  <div class=" flow-root">
    <div class=" overflow-x-auto mb-4">
      <div *ngIf="!isLoading"  class=" flex flex-col items-center gap-4 p-4 bg-gray-100 rounded-xl shadow-lg w-full my-5">
        <!-- Input para seleccionar archivo -->
        <input
          type="file"
          *ngIf="!selectedFile"
          (change)="onFileChange($event)"
          accept=".xls,.xlsx,.xlsm,.csv"
          class="block w-full text-sm text-gray-500
                 file:mr-4 file:py-2 file:px-4
                 file:rounded-lg file:border-0
                 file:text-sm file:font-semibold
                 file:bg-blue-50 file:text-blue-700
                 hover:file:bg-blue-100 cursor-pointer"
        />

        <!-- Botón de subir -->
        <button
          *ngIf="selectedFile"
          (click)="loadInvestment()"
          class="w-full px-4 py-2 badge-green rounded-lg disabled:bg-gray-400"
        >
          Subir
        </button>

        <!-- Botón de cancelar -->
        <button
          *ngIf="selectedFile"
          (click)="selectedFile = null"
          class="w-full px-4 py-2 text-white bg-red-500 rounded-lg disabled:bg-gray-400"
        >
          Cancelar
        </button>
      </div>
      <div *ngIf="!isLoading" class="inline-block min-w-full py-2 align-middle ">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr class="divide-x divide-gray-200">
              <th  class="text-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-primary sm:pl-0">Código</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Nombre</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Apropiación Inicial</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Adiciones</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Reducciones</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Aplazamiento</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Desplazamiento</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Traslado con crédito</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Traslado crédito</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Total aprobado</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Disponibilidad</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Compromisos anteriores</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Compromisos/mes</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Compromisos acumulados</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Saldo ejecutado</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Pagos anteriores</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Pagos / mes</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Pagos acumulados</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Obligaciones</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Saldo</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <ng-container *ngFor="let item of expenses">
              <tr class="cursor-pointer text-left hover:bg-gray-100 divide-x divide-y divide-gray-200" (click)="toggleItem(item)">
                <td class="whitespace-nowrap py-4 px-3 text-sm text-primary">
                  <span *ngIf="item.children?.length" class="mr-4">
                    <span *ngIf="item.expanded">▼</span>
                    <span *ngIf="!item.expanded">▶</span>
                  </span>
                  {{ item.code }}
                </td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.name }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.initial_approval | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.additions | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.reductions | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.deferrals | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.displacement | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.transfer_with_credit | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.credit_transfer | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.total_approval | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.availability | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.previous_commitments | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.commitments_month | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.cumulative_commitments | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.executed_balance | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.previous_payments | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.payments_month | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.accumulated_payments | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.obligations | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ item.total_attributes.balance | currency }}</td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">
                  <button *ngIf="!item.children.length" class="text-blue-600 hover:text-blue-900">✏️</button>
                </td>
              </tr>
              <!-- Renderizar hijos -->
              <ng-container *ngIf="item.children?.length && item.expanded">
                <ng-container *ngTemplateOutlet="recursiveItems; context: { children: item.children, level: 1 }"></ng-container>
              </ng-container>
            </ng-container>
          </tbody>
        </table>

        <ng-template #recursiveItems let-children="children" let-level="level">
          <ng-container *ngFor="let child of children">
            <tr class="cursor-pointer text-left hover:bg-gray-100 divide-x divide-y divide-gray-200" (click)="$event.stopPropagation(); toggleItem(child)">
              <td  class="whitespace-nowrap py-4 mr-4 text-sm"
              [ngClass]="[
                level === 1 ? 'text-blue-600' : '',
                level === 2 ? 'text-green-600' : '',
                level === 3 ? 'text-red-600' : ''
              ]"
              [style.paddingLeft.px]="level * 20">
                <span *ngIf="child.sources_financing?.length || child.children?.length" class="mr-2">
                  <span *ngIf="child.expanded">▼</span>
                  <span *ngIf="!child.expanded">▶</span>
                </span>
                {{ child.code }}
                </td>
                <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.name }}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.initial_approval | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.additions | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.reductions | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.deferrals | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.displacement | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.transfer_with_credit | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.credit_transfer | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.total_approval | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.availability | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.previous_commitments | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.commitments_month | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.cumulative_commitments | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.executed_balance | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.previous_payments | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.payments_month | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.accumulated_payments | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.obligations | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ child.total_attributes.balance | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">
                <button (click)="selectItem(child)" *ngIf="!child.children.length" class="text-blue-600 hover:text-blue-900">✏️</button>
              </td>
            </tr>
            <!-- Recursividad para subniveles -->
            <ng-container *ngIf="child.children?.length && child.expanded">
              <ng-container *ngTemplateOutlet="recursiveItems; context: { children: child.children, level: level + 1 }"></ng-container>
            </ng-container>
            <!-- Recursividad para fuentes -->
            <ng-container *ngIf="child.sources_financing?.length && child.expanded">
              <ng-container *ngTemplateOutlet="recursiveItems2; context: { children: child.sources_financing, level: level + 1 }"></ng-container>
            </ng-container>

          </ng-container>
        </ng-template>
        <ng-template #recursiveItems2 let-children="children" let-level="level">
          <ng-container *ngFor="let s of children">
            <tr class=" hover:bg-gray-100 bg-purple-50">
              <td  class="whitespace-nowrap py-4 text-gray-500 text-sm"
                [style.paddingLeft.px]="level * 20"
              >
                {{ s.source_financing.code }}
              </td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.source_financing.name }}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.initial_approval  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.additions  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.reductions  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.deferrals  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.displacement  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.transfer_with_credit  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.credit_transfer  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.total_approval  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.availability  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.previous_commitments  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.commitments_month  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.cumulative_commitments  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.executed_balance  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.previous_payments  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.payments_month  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.accumulated_payments  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.obligations  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">{{ s.balance  | currency}}</td>
              <td class="whitespace-nowrap px-3 text-sm text-gray-500">- </td>
            </tr>
          </ng-container>
        </ng-template>
      </div>
      <div class="flex justify-center items-center py-7" *ngIf="isLoading">
        <app-loader></app-loader>
      </div>
    </div>
  </div>
</div>

<app-detail [data]="expenseSelected" (close)="refresh()" *ngIf="showExpenseDetail"></app-detail>
