<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full  justify-center p-4 text-center items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mx-auto flex size-12 items-center justify-center rounded-full bg-blue-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-blue-600">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z" />
            </svg>

          </div>
          <div class="mt-3  sm:mt-5">
            <h3 class="text-base text-center font-semibold text-gray-900" id="modal-title">Cambia tu contraseña</h3>
            <form [formGroup]="passwordForm" class="mt-2">
              <div>
                <div class="mt-2">
                  <label for="password" class="block text-sm/6 font-medium text-primary">Contraseña actual</label>
                  <input type="password" name="password" formControlName="current_password" id="password" placeholder="Ingresa tu contraseña actual" autocomplete="current-password" required class="block w-full rounded-2xl bg-gray-100 px-3 py-1.5 text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
                  <div *ngIf="passwordForm.get('current_password')?.invalid && passwordForm.get('current_password')?.touched"
                        class="text-red-600 text-sm">
                    Tu contraseña actual es requerida
                  </div>
                </div>
                <div class="mt-2">
                  <label for="password" class="block text-sm/6 font-medium text-primary">Nueva contraseña</label>
                  <input type="password" name="new_password" formControlName="new_password1" id="new_password1" placeholder="Ingresa tu nueva contraseña " autocomplete="current-password" required class="block w-full rounded-2xl bg-gray-100 px-3 py-1.5 text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
                  <div *ngIf="passwordForm.get('new_password1')?.invalid && passwordForm.get('new_password1')?.touched"
                        class="text-red-600 text-sm">
                   Nueva contraseña es requerida
                  </div>
                </div>
                <div class="mt-2">
                  <label for="password" class="block text-sm/6 font-medium text-primary">Repite tu nueva contraseña</label>
                  <input type="password" name="new_password" formControlName="new_password2" id="new_password2" placeholder="Repite tu nueva contraseña " autocomplete="current-password" required class="block w-full rounded-2xl bg-gray-100 px-3 py-1.5 text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600 sm:text-sm/6">
                  <div *ngIf="passwordForm.get('new_password2')?.invalid && passwordForm.get('new_password2')?.touched"
                        class="text-red-600 text-sm">
                   Nueva contraseña es requerida
                  </div>
                  <div *ngIf="passwordForm.hasError('notMatching') && passwordForm.get('new_password2')?.touched"
                        class="text-red-600 text-sm">
                    Las nuevas contraseñas no coinciden
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="!isLoading" class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button (click)="changePassword()" type="button" class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 sm:col-start-2">Guardar</button>
          <button (click)="goAway()" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancelar</button>
        </div>
        <div *ngIf="isLoading" class="flex justify-center items-center py-6">
          <app-loader></app-loader>
        </div>
      </div>
    </div>
  </div>
</div>
