<div class="p-4 h-full">
  <div *ngIf="!isLoading" class="grid xl:grid-cols-6 grid-cols-1  gap-3  h-full divide-gray-700">
      <div class="col-span-1 border-r border-gray-400 pr-2 h-full">
        <div class="">
          <div class="flex items-center justify-between">
            <label for="year" class="mb-1 block text-sm font-medium text-primary truncate">Contratos</label>
            <button (click)="showAddContractModal = !showAddContractModal">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
            </button>
          </div>
          <div class=" mt-3 grid grid-cols-1">
            <select id="year" name="year" [(ngModel)]="yearSelected" (change)="getContracts()" class="col-start-1 row-start-1 block w-full rounded-2xl bg-gray-100 px-3 py-1 md:py-1.5 gap-2 text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
              <option [value]="years?.first_year">{{years?.first_year}}</option>
              <option [value]="years?.second_year">{{years?.second_year}}</option>
              <option [value]="years?.third_year">{{years?.third_year}}</option>
              <option [value]="years?.fourth_year">{{years?.fourth_year}}</option>
            </select>

          </div>

          <ul  class="strategicLinesList w-full mb-3">
            <!-- [ngClass]="{'strategicLineActive':  sL.id == strategicLine }"  -->
            <li *ngFor="let c of contracts"  [ngClass]="{'active': contractSelected?.id == c.id}" class="strategicLine w-full flex items-start flex-wrap-reverse justify-between text-wrap  text-xs">
              <span >
                {{c.object }}
              </span>

              <div class="flex items-start justify-end gap-2">

                <button (click)="getContractById(c.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-purple-500 hover:text-purple-700">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                  </svg>
                </button>
                <button (click)="deleteContract(c.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-red-500 hover:text-red-700">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                  </svg>
                </button>
              </div>
            </li>
          </ul>
          <app-pagination [totalItems]="contracts.length" [showLabels]="false" [limit]="contractsLimit" [offset]="contractsOffset" (onPageChange)="onPageChangeContractList($event)" ></app-pagination>
        </div>
      </div>
      <div class="xl:col-span-5 " *ngIf="contractSelected !== undefined">
        <div class="flex items-center justify-end">
          <button class="text-purple-500 hover:text-purple-700" (click)="updateContract()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0 1 20.25 6v12A2.25 2.25 0 0 1 18 20.25H6A2.25 2.25 0 0 1 3.75 18V6A2.25 2.25 0 0 1 6 3.75h1.5m9 0h-9" />
            </svg>
          </button>
        </div>
          <div class="grid lg:grid-cols-3 gap-3 md:grid-cols-2 mb-5">
            <div class="col-span-1">
              <label class="block mb-1 text-sm font-medium text-primary truncate">Objeto de contrato</label>
              <textarea
                rows="2"
                placeholder="Ingresa el objeto de contrato"
                [(ngModel)]="contractSelected.object"
                class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
              >
              </textarea>
            </div>


            <div class="col-span-1">
              <label class="block mb-1 text-sm font-medium text-primary truncate">Nombre del supervisor</label>
              <textarea
                rows="2"
                [(ngModel)]="contractSelected.name_responsible"
                (keydown.enter)="updateResponsableUser()"
                placeholder="Ingresa el nombre del supervisor"
                class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
              >
              </textarea>
            </div>
            <div class="col-span-1">
              <label class="block mb-1 text-sm font-medium text-primary truncate">Fecha Contrato</label>
              <textarea
                rows="2"
                [value]="contractSelected.year"
                disabled
                placeholder="Ingresa la fecha Contrato"
                class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
              >
              </textarea>
            </div>
            <div class="col-span-1">
              <label class="block mb-1 text-sm font-medium text-primary truncate">Modalidad</label>
              <select [(ngModel)]="contractSelected.modality.id" id="modality" name="modality"  class=" block w-full rounded-2xl bg-gray-100 px-3 py-1 md:py-1.5 text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                <option value="">Selecciona la modalidad del contrato</option>
                <option *ngFor="let m of modalities" [value]="m.id">{{m.name}}</option>
              </select>

            </div>
            <div class="lg:col-span-1">
              <div  class="mb-2">
                <label class="block mb-1 text-sm font-medium text-primary truncate">Fecha inicio contrato</label>
                <input
                  type="date"
                  [(ngModel)]="contractSelected.start_date"
                  disabled
                  class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                >
              </div>
            </div>
            <div class="lg:col-span-1">
              <div >
                <label class="block mb-1 text-sm font-medium text-primary truncate">Fecha fin contrato</label>
                <input
                  type="date"
                  disabled
                  [(ngModel)]="contractSelected.end_date"
                  class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                >
              </div>
            </div>
          </div>
          <div class="w-full p-3 mb-3 rounded-xl bg-gray-100" *ngFor="let p of contractSelected.wellness_classifications">
            <p class="text-primary text-sm font-medium">Códigos UNSPSC</p>
            <p class="text-xs text-black font-normal mb-2">
              {{p.wellness_classification.unspsc_classifier_class_code}} - {{p.wellness_classification.unspsc_classifier_class_name}}
            </p>
          </div>
          <div *ngFor="let p of contractSelected.products_contracted" class="w-full p-3 mb-3 rounded-xl bg-gray-100">
              <div class="flex justify-end w-full gap-3 mb-3">
                <button (click)="showAddSource(p.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-400">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </button>
                <button (click)="downloadProduct(p.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-blue-400">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                  </svg>

                </button>
              </div>
              <p class="text-xs text-black font-normal mb-2">
                {{p.product_contracted.description}}
              </p>
              <p class="text-xs text-black font-normal mb-2">
                CODIGO UNIFICADO | {{p.code_unified}}
              </p>

              <hr>
              <div class="mb-2">
                <button (click)="p.product_contracted.catalogue_sector.isCollapsed = !p.product_contracted.catalogue_sector.isCollapsed" class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center">
                  <span>Clasificación de las funciones del gobierno</span>
                  <svg *ngIf="p.product_contracted.catalogue_sector.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg *ngIf="!p.product_contracted.catalogue_sector.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                  </svg>
                </button>
                <hr>
                <div *ngIf="p.product_contracted.catalogue_sector.isCollapsed" class="p-3">
                    <ul>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Sector:</p>
                          <p class="text-black text-xs font-normal">{{p.product_contracted.catalogue_sector[0].territorial_sector}}</p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Código:</p>
                          <p class="text-black text-xs font-normal">{{p.product_contracted.catalogue_sector[0].territorial_code}}</p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Descripción:</p>
                          <p class="text-black text-xs font-normal">{{p.product_contracted.catalogue_sector[0].territorial_description}} </p>
                      </li>
                    </ul>
                </div>
              </div>
              <div class="mb-2">
                <button (click)="p.product_contracted.catalogue_ciuu.isCollapsed = !p.product_contracted.catalogue_ciuu.isCollapsed" class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center">
                  <span>CIUU</span>
                  <svg *ngIf="p.product_contracted.catalogue_ciuu.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg *ngIf="!p.product_contracted.catalogue_ciuu.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                  </svg>
                </button>
                <hr>
                <div *ngIf="p.product_contracted.catalogue_ciuu.isCollapsed" class="p-3">
                    <ul>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Código CIUU:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ciuu[0].ciuu_codes}}
                          </p>
                      </li>
                    </ul>
                </div>
              </div>
              <!-- CCPET -->
              <div class="mb-2">
                <button (click)="p.product_contracted.catalogue_ccpet.isCollapsed = !p.product_contracted.catalogue_ccpet.isCollapsed"  class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center">
                <span>CCPET</span>
                  <svg *ngIf="p.product_contracted.catalogue_ccpet.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg *ngIf="!p.product_contracted.catalogue_ccpet.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                  </svg>
                </button>
                <hr>
                <div *ngIf="p.product_contracted.catalogue_ccpet.isCollapsed" class="p-3">
                    <ul>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Tipo de Cuentas:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ccpet[0].account_type}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Soporte Legal:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ccpet[0].ccpet_legal_support}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Nivel 1:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ccpet[0].ccpet_level_one_code}} - {{p.product_contracted.catalogue_ccpet[0].ccpet_level_one_main_account_name}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Nivel 2:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ccpet[0].ccpet_level_two_code}} - {{p.product_contracted.catalogue_ccpet[0].ccpet_level_two_main_account_name}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Nivel 3:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ccpet[0].ccpet_level_three_code}} - {{p.product_contracted.catalogue_ccpet[0].ccpet_level_three_main_account_name}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Nivel 4:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ccpet[0].ccpet_level_four_code}} - {{p.product_contracted.catalogue_ccpet[0].ccpet_level_four_main_account_name}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Nivel 5:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ccpet[0].ccpet_level_five_code}} - {{p.product_contracted.catalogue_ccpet[0].ccpet_level_five_main_account_name}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Nivel 6:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ccpet[0].ccpet_level_six_code}} - {{p.product_contracted.catalogue_ccpet[0].ccpet_level_six_main_account_name}}
                          </p>
                      </li>

                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Definición:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ccpet[0].ccpet_definition}}
                          </p>
                      </li>
                    </ul>
                </div>
              </div>

              <!-- CPC -->
              <div class="mb-2">
                <button (click)="p.product_contracted.catalogue_central.isCollapsed = !p.product_contracted.catalogue_central.isCollapsed"  class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center">
                  <span>CPC</span>
                  <svg *ngIf="p.product_contracted.catalogue_central.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg *ngIf="!p.product_contracted.catalogue_central.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                  </svg>
                </button>
                <hr>

                <div *ngIf="p.product_contracted.catalogue_central.isCollapsed" class="p-3">
                    <ul>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Sección:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_central[0].central_product_classification_section}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">División:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_central[0].central_product_classification_section_division}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Grupo:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_central[0].central_product_classification_group}}
                          </p>
                      </li>

                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Clase:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_central[0].central_product_classification_class}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Código Subclase:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_central[0].central_product_classification_subclass}}
                          </p>
                        </li>
                        <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Notas Explicativas:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_central[0].central_product_classification_explanatory_notes}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Servicio:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_central[0].central_product_classification_service}}
                          </p>
                      </li>
                    </ul>
                </div>
              </div>
              <!-- UNSPSC -->
              <div class="mb-2">
                <button (click)="p.product_contracted.catalogue_wellness.isCollapsed = !p.product_contracted.catalogue_wellness.isCollapsed"  class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center">
                  <span>UNSPSC</span>
                  <svg *ngIf="p.product_contracted.catalogue_wellness.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg *ngIf="!p.product_contracted.catalogue_wellness.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                  </svg>
                </button>
                <hr>
                <div *ngIf="p.product_contracted.catalogue_wellness.isCollapsed" class="p-3">
                    <ul>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Segmento:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_wellness[0].unspsc_classifier_segment_code}} - {{p.product_contracted.catalogue_wellness[0].unspsc_classifier_segment_name}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Familia:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_wellness[0].unspsc_classifier_family_code}} -  {{p.product_contracted.catalogue_wellness[0].unspsc_classifier_family_name}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Clase:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_wellness[0].unspsc_classifier_class_code}}  -  {{p.product_contracted.catalogue_wellness[0].unspsc_classifier_class_name}}
                          </p>
                      </li>
                    </ul>
                </div>
              </div>
              <!-- ODS -->
              <div class="mb-2">
                <button (click)="p.product_contracted.catalogue_ods.isCollapsed = !p.product_contracted.catalogue_ods.isCollapsed"  class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center">
                  <span>ODS</span>
                  <svg *ngIf="p.product_contracted.catalogue_ods.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg *ngIf="!p.product_contracted.catalogue_ods.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                  </svg>
                </button>
                <hr>
                <div *ngIf="p.product_contracted.catalogue_ods.isCollapsed" class="p-3">
                    <ul>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">ODS:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ods[0].ods}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Meta:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ods[0].ods_goal}}
                          </p>
                      </li>
                      <li class="mb-2">
                          <p class="text-primary text-xs font-normal">Objetivo:</p>
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_ods[0].ods_objective}}
                          </p>
                      </li>
                    </ul>
                </div>
              </div>
              <!-- LAW -->
              <div class="mb-2">
                <button (click)="p.product_contracted.catalogue_law.isCollapsed = !p.product_contracted.catalogue_law.isCollapsed"  class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center">
                  <span> {{p.product_contracted.catalogue_law[0].law_competencies | slice:0:20}} </span>
                  <svg *ngIf="p.product_contracted.catalogue_law.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg *ngIf="!p.product_contracted.catalogue_law.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                  </svg>
                </button>
                <hr>
                <div *ngIf="p.product_contracted.catalogue_law.isCollapsed" class="p-3">
                    <ul>
                      <li class="mb-2">
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_law[0].law_competencies }}
                          </p>
                      </li>
                    </ul>
                </div>
              </div>
              <!-- NORMATIVITY -->
              <div class="mb-2">
                <button (click)="p.product_contracted.catalogue_normativity.isCollapsed = !p.product_contracted.catalogue_normativity.isCollapsed"  class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center">
                  <span>Normatividad meta </span>
                  <svg *ngIf="p.product_contracted.catalogue_normativity.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg *ngIf="!p.product_contracted.catalogue_normativity.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                  </svg>
                </button>
                <hr>
                <div *ngIf="p.product_contracted.catalogue_normativity.isCollapsed" class="p-3">
                    <ul>
                      <li class="mb-2">
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_normativity[0].target_normativity }}
                          </p>
                      </li>
                    </ul>
                </div>
              </div>
              <!-- NATIONAL PLAN -->
              <div class="mb-2">
                <button (click)="p.product_contracted.catalogue_plan.isCollapsed = !p.product_contracted.catalogue_plan.isCollapsed" class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center">
                  <span>{{p.product_contracted.catalogue_plan[0].national_development_plan | slice:0:28 }} </span>
                  <svg *ngIf="p.product_contracted.catalogue_plan.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg *ngIf="!p.product_contracted.catalogue_plan.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                  </svg>
                </button>
                <hr>

                <div  *ngIf="p.product_contracted.catalogue_plan.isCollapsed" class="p-3">
                    <ul>
                      <li class="mb-2">
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_plan[0].national_development_plan  }}
                          </p>
                      </li>
                    </ul>
                </div>
              </div>
              <!-- Public politic -->
              <div class="mb-2">
                <button (click)="p.product_contracted.catalogue_politics.isCollapsed = !p.product_contracted.catalogue_politics.isCollapsed" class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center" >
                  <span>{{p.product_contracted.catalogue_politics[0].public_policies }} </span>
                  <svg *ngIf="p.product_contracted.catalogue_politics.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                  </svg>
                  <svg *ngIf="!p.product_contracted.catalogue_politics.isCollapsed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                  </svg>
                </button>
                <hr>

                <div *ngIf="p.product_contracted.catalogue_politics.isCollapsed" class="p-3">
                    <ul>
                      <li class="mb-2">
                          <p class="text-black text-xs font-normal">
                            {{p.product_contracted.catalogue_politics[0].public_policies  }}
                          </p>
                      </li>
                    </ul>
                </div>
              </div>
              <div *ngIf="p.contract_product_contracted_source_financing.length">
                <p class="text-primary font-normal text-sm flex justify-between flex-nowrap w-full items-center">
                  Fuentes de financiamiento
                </p>
                <hr>

                <div  class="mt-3">
                  <ul class="bg-purple-100 rounded-xl w-full max-h-60 overflow-y-scroll divide-y divide-purple-700">
                    <li *ngFor="let pc of p.contract_product_contracted_source_financing" class="mb-2 w-auto flex items-center justify-between">
                        <p class="p-2 text-xs cursor-pointer font-normal text-purple-700 hover:bg-purple-100 ">
                          {{pc.source_financing.code  }} - {{pc.source_financing.name  }} - {{pc.value | currency}}
                        </p>
                        <button (click)="deleteSourceFinancing(pc.id)">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-red-500 hover:text-red-700">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                          </svg>
                        </button>
                    </li>
                    <li class="mb-2 w-auto flex items-center justify-end">
                        <p class="p-2 text-sm cursor-pointer font-bold text-purple-700 hover:bg-purple-100 ">
                         Total: {{getTotalForSelectedArray(p.contract_product_contracted_source_financing) | currency}}
                        </p>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
          <div  class="mt-3">
            <ul class="bg-purple-100 rounded-xl w-full">
              <li class="mb-2 w-auto flex items-center justify-end">
                  <p  class="p-2 text-sm cursor-pointer font-bold text-purple-700 hover:bg-purple-100 ">
                   Total: {{getTotalFor() | currency}}
                  </p>
              </li>
            </ul>
          </div>
      </div>
  </div>
  <div *ngIf="isLoading" class="flex justify-center items-center py-4">
    <app-loader></app-loader>
  </div>
</div>


<!-- CREATE CONTRACTSS MODAL -->
<div *ngIf="showAddContractModal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg max-h-[70vh] overflow-y-auto bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl sm:p-6">
        <div>
          <div class="mx-auto flex size-12 items-center justify-center rounded-full bg-green-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-600">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
            </svg>

          </div>
          <div class="mt-3  sm:mt-5">
            <h3 class="text-base text-center font-semibold text-gray-900" id="modal-title">Agregar contrato</h3>
            <div class="mt-2">
              <form  [formGroup]="contractForm" class=" gap-3  ">
                <div >
                  <label class="block mb-1 text-sm font-medium text-primary truncate">Objeto de contrato</label>
                  <textarea
                    rows="2"
                    formControlName="object"
                    placeholder="Ingresa el objeto de contrato"
                    class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                  >
                  </textarea>
                </div>

                <div class=" mt-3  ">
                  <label class="block mb-1 text-sm font-medium text-primary truncate">Modalidad</label>

                  <select formControlName="modality" id="modality" name="modality"  class=" block w-full rounded-2xl bg-gray-100 px-3 py-1 md:py-1.5 text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                    <option value="">Selecciona la modalidad del contrato</option>
                    <option *ngFor="let m of modalities" [value]="m.id">{{m.name}}</option>
                  </select>

                </div>
                <div class=" mt-3   ">
                  <label class="block mb-1 text-sm font-medium text-primary truncate">Año</label>
                  <select id="year" name="year" formControlName="year" class=" block w-full rounded-2xl bg-gray-100 px-3 py-1 md:py-1.5 text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                    <option [value]="years?.first_year">{{years?.first_year}}</option>
                    <option [value]="years?.second_year">{{years?.second_year}}</option>
                    <option [value]="years?.third_year">{{years?.third_year}}</option>
                    <option [value]="years?.fourth_year">{{years?.fourth_year}}</option>
                  </select>
                </div>
                <div class="grid lg:grid-cols-2 gap-3 mt-3">
                  <div class="">
                    <div  class="mb-2">
                      <label class="block mb-1 text-sm font-medium text-primary truncate">Fecha inicio contrato</label>
                      <input
                        type="date"
                        formControlName="start_date"
                        class="block w-full  rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                      >
                    </div>

                  </div>

                  <div class="">
                    <div >
                      <label class="block mb-1 text-sm font-medium text-primary truncate">Fecha fin contrato</label>
                      <input
                        type="date"
                        formControlName="end_date"
                        class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                      >
                    </div>
                  </div>
                </div>
                <fieldset class="mt-3">
                  <legend class="text-sm/6 font-normal text-primary">Unidades ejecutoras</legend>
                  <div class="mt-6  grid lg:grid-cols-2 xl:grid-cols-2 grid-cols-1 gap-4 mb-3">
                    <div *ngFor="let c of contractExecutions" class="flex items-center">
                      <input [id]="c.id"  [value]="c.id"  formControlName="executing_unit" name="executing_unit" type="radio"  class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
                      <label [for]="c.id" class="ml-3 block text-sm/6 font-medium text-gray-900">{{c.name}}</label>
                    </div>
                  </div>
                  <app-pagination [limit]="contractExecutionLimit" [offset]="contractExecutionOffset" (onPageChange)="onPaginateContractExecution($event)" ></app-pagination>
                </fieldset>
              </form>

              <hr class="my-4">
              <div>
                <p class="text-primary font-normal text-sm">Productos a contratar</p>
                <input [(ngModel)]="searchCatalogProducts" (keyup)="getProductsContracts()" type="search" class="block w-full mb-2 rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" name="search-products" placeholder="Buscar productos"  id="">
                <ul *ngIf="catalogProducts.length && searchCatalogProducts.length" class="bg-gray-50 rounded-xl w-full max-h-60 overflow-y-scroll divide-y divide-purple-700">
                  <li *ngFor="let cp of catalogProducts" (click)="chooseProduct(cp.id, cp.description)" class="p-2 text-xs cursor-pointer font-normal text-gray-700 hover:bg-gray-100 "> {{cp.description}} </li>
                </ul>
                <ul *ngIf="catalogProductsSelected.length" class="bg-purple-50 rounded-xl w-full max-h-60 overflow-y-scroll divide-y divide-purple-700">
                  <li *ngFor="let cp of catalogProductsSelected" class="p-2 text-xs cursor-pointer font-normal text-purple-700 hover:bg-purple-100 "> {{cp.description | slice:0:100}} </li>
                </ul>

              </div>
              <hr class="my-4">
              <div>
                <p class="text-primary font-normal text-sm">Catálogo de UNSPC</p>
                <input [(ngModel)]="searchCatalogWellness" (keyup)="getWellnessCatalogue()" type="search" class="block w-full mb-2 rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" name="search-products" placeholder="Buscar UNSPC"  id="">
                <ul *ngIf="wellnessCatalogue.length && searchCatalogWellness.length" class="bg-gray-50 rounded-xl w-full max-h-60 overflow-y-auto divide-y divide-purple-700">
                  <li *ngFor="let cp of wellnessCatalogue" (click)="chooseWellnessCatalogue(cp.id, cp.unspsc_classifier_class_code, cp.unspsc_classifier_class_name)" class="p-2 text-xs cursor-pointer font-normal text-gray-700 hover:bg-gray-100 ">  {{cp.unspsc_classifier_class_code }} - {{cp.unspsc_classifier_class_name}} </li>
                </ul>
                <ul *ngIf="wellnessCatalogueSelected.length" class="bg-purple-50 rounded-xl w-full max-h-60 overflow-y-auto divide-y divide-purple-700">
                  <li *ngFor="let cp of wellnessCatalogueSelected" class="p-2 text-xs cursor-pointer font-normal text-purple-700 hover:bg-purple-100 "> {{cp.code }} - {{cp.name}} </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isLoading" class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button (click)="createContract()" type="button" class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Agregar contrato</button>
          <button  (click)="showAddContractModal = !showAddContractModal" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancelar</button>
        </div>
        <div *ngIf="isLoading" class="flex justify-center items-center py-4">
          <app-loader></app-loader>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ADD SOURCE FINANCING MODAL -->
<div *ngIf="showAddSourceModal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg max-h-[70vh] overflow-y-auto bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div>
          <div class="mx-auto flex size-12 items-center justify-center rounded-full bg-green-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-600">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
            </svg>

          </div>
          <div class="mt-3  sm:mt-5">
            <h3 class="text-base text-center font-semibold text-gray-900" id="modal-title">Agregar fuente de financiamiento</h3>
            <div class="mt-2">
              <hr class="my-4">
              <div>
                <p class="text-primary font-normal text-sm">Fuentes de financiamiento</p>

                <select  [(ngModel)]="sourceSelected" class="block w-full mb-2 rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"  name="" id="">
                  <option  value="">Selecciona las fuentes de financiamiento</option>
                  <option  *ngFor="let cp of sourcesFinancing" [ngValue]="cp">{{cp.code}} - {{cp.name}}</option>
                </select>
                <div class="mt-3">
                  <p class="text-primary font-normal text-sm">Valor</p>
                  <input  [(ngModel)]="contractSourceValue"  type="number" class="block w-full mb-2 rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" name="search-products" placeholder="Buscar productos"  id="">
                </div>

              </div>
              <hr class="my-4">
            </div>
          </div>
        </div>
        <div *ngIf="!isLoading" class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button (click)="addSourceFinancing()" type="button" class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Agregar contrato</button>
          <button  (click)="showAddSourceModal = !showAddSourceModal" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancelar</button>
        </div>
        <div *ngIf="isLoading" class="flex justify-center items-center py-4">
          <app-loader></app-loader>
        </div>
      </div>
    </div>
  </div>
</div>
