.strategicLine{
  cursor: pointer;
  background-color: #f8f8f8;
  margin: 1rem 0;
  padding: .6rem;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
  color: #707070;
  text-decoration: none;
}
.strategicLineActive{
  cursor: pointer;
   background-color: rgba(108,105,233,0.439216);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
  color: white;
  text-decoration: none;
}

.active{
  @apply bg-purple-700/20 ;
}
