
<div class="mx-auto  px-4 sm:px-6 lg:px-8 h-full">
  <div class="overflow-x-auto whitespace-nowrap p-4 h-full">
    <ul class="flex space-x-4 h-full">
      <li  class="h-full bg-white rounded-2xl shadow-md p-4 w-80">
        <p class="text-primary text-[17px] font-black  ">Sectores</p>
        <hr class=" border-[3px] rounded-xl my-2 border-[#ebebff]"/>

        <ul  class="strategicLinesList w-full">
          <li *ngFor="let s of sectors" (click)="chooseSector(s.id)" [ngClass]="{'strategicLineActive':  s.id == sectorSelected }"  class="strategicLine">
              {{s.name}}
          </li>
        </ul>
      </li>
      <li *ngIf="sectorSelected.length"  class="h-full bg-white rounded-2xl shadow-md p-4 w-80">
        <p class="text-primary text-[17px] font-black  ">Descripciones</p>
        <hr class=" border-[3px] rounded-xl my-2 border-[#ebebff]"/>

        <ul  class="strategicLinesList w-full">
          <li *ngFor="let s of descriptions" (click)="chooseDescription(s.id)" [ngClass]="{'strategicLineActive':  s.id == descriptionSelected }"  class="strategicLine">
              <span class="text-wrap">
                {{s.name}}
              </span>
          </li>
        </ul>
      </li>
      <li *ngIf="sectorSelected.length && descriptionSelected.length"  class="h-full bg-white rounded-2xl shadow-md p-4 w-80">
        <p class="text-primary text-[17px] font-black  ">Tipos</p>
        <hr class=" border-[3px] rounded-xl my-2 border-[#ebebff]"/>

        <ul  class="strategicLinesList w-full">
          <li *ngFor="let s of types" (click)="chooseTypes(s.id)" [ngClass]="{'strategicLineActive':  s.id == typeSelected }"  class="strategicLine">
              <span class="text-wrap">
                {{s.name}}
              </span>
          </li>
        </ul>
      </li>
      <li *ngIf="sectorSelected.length && descriptionSelected.length && typeSelected.length"  class="h-full bg-white rounded-2xl shadow-md p-4 w-80">
        <p class="text-primary text-[17px] font-black  ">Normativas</p>
        <hr class=" border-[3px] rounded-xl my-2 border-[#ebebff]"/>

        <ul  class="strategicLinesList w-full">
          <li *ngFor="let s of regulations"  (click)="chooseRegulations(s.link)" class="strategicLine">
            <span   class="text-wrap">
              {{s.name}}
            </span>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>
