<div>

  <div class="block bg-white p-3 rounded-xl">
    <div class="flex items-center gap-5 flex-wrap">
      <div class="flex items-center gap-2">
          <p class="text-black font-bold text-base">Gastos</p>
          <div class="grid grid-cols-1">
            <select aria-label="Select a tab" class="col-start-1 row-start-1 w-24 appearance-none rounded-md bg-white py-2 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
              <option selected>2020</option>
            </select>
            <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end fill-gray-500" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </div>
      </div>
      <nav class="flex space-x-4" aria-label="Tabs">
        <!-- Current: "bg-gray-200 text-gray-800", Default: "text-gray-600 hover:text-gray-800" -->
        <a [routerLink]="['/dashboard/expenses/investments']" routerLinkActive="active"  class="rounded-md px-3 py-2 text-sm font-medium text-gray-600 hover:text-gray-800">Inversión</a>
        <a  [routerLink]="['/dashboard/expenses/functionality']" routerLinkActive="active" class="rounded-md px-3 py-2 text-sm font-medium text-gray-600 hover:text-gray-800">Funcionamiento</a>
      </nav>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
