<div class="mx-auto   sm:px-6 lg:px-8 h-full">
  <div class="overflow-x-auto whitespace-nowrap p-4 h-full">
    <ul class="flex space-x-4 h-full" *ngIf="!isLoading">
      <!-- MUNICIPALITY PLANNING -->
      <li class="h-full bg-white rounded-2xl shadow-md md:p-4 p-2 w-[90%] flex-shrink-0 md:max-w-[350px]  ">
        <p class="text-primary text-sm text-wrap md:text-[17px] font-black  ">Planeación  {{filterByDpt == 'true' ? 'Departamental': ''}} </p>
        <p class="text-xs font-normal truncate text-wrap ">{{developmentPlan?.name}} </p>
        <p class="text-wrap md:text-sm text-xs">Selecciona tu categoría de preferencia</p>

        <div class="grid md:grid-cols-2 gap-2 mt-5">
            <button (click)="categoryTypeSelected = 1" [ngClass]="{'badge-primary': categoryTypeSelected == 1}" class="text-primary px-3  text-xs md:text-sm py-1.5 text-center rounded-xl">Líneas Estratégicas</button>
            <button (click)="getGeneralGoals() " *ngIf="filterByDpt == 'false'" [ngClass]="{'badge-primary': categoryTypeSelected == 2}" class="text-primary font-medium px-3  text-xs md:text-sm py-1.5 text-center rounded-xl ">Metas Producto</button>
            <!-- <button class="badge-green text-xs md:text-sm py-1.5 text-center rounded-2xl ">Descargar reporte</button> -->
        </div>
        <ul *ngIf="categoryTypeSelected == 1" class="strategicLinesList w-full">
          <li *ngFor="let sL of strategicLines" (click)="chooseStrategicLine(sL.id)" [ngClass]="{'strategicLineActive':  sL.id == strategicLine }" class="strategicLine text-wrap md:text-base text-xs">
              {{sL.name}}
          </li>
        </ul>
        <ul *ngIf="categoryTypeSelected == 2" class="productGoalsList w-full">
          <li *ngFor="let pG of productGoals" (click)="chooseProductGoal(pG)"  [ngClass]="{'goalSelected': productGoal?.id == pG.id}" class="productGoal text-wrap">
              {{pG.name}}
              <hr class="my-1">
             <span>
               Consecutivo de la meta:
               {{pG.consecutive}}
             </span>
          </li>
        </ul>
      </li>

      <!-- SECTORS LIST  -->
      <li *ngIf="categoryTypeSelected == 1 && strategicLine.length" class="h-full bg-white rounded-2xl shadow-md md:p-4 p-2 w-[90%] flex-shrink-0 md:max-w-[350px] ">
        <p class="text-primary text-sm text-wrap md:text-[17px] font-black  ">Sectores</p>
        <hr class=" border-[3px] rounded-xl my-2 border-[#ebebff]"/>

        <ul  class="strategicLinesList w-full">
          <li *ngFor="let s of sectors" (click)="chooseSector(s.id)" [ngClass]="{'strategicLineActive':  s.id == sector }"  class="strategicLine text-wrap md:text-base text-xs">
              {{s.name}}
          </li>
        </ul>
      </li>

      <!-- CODE LIST  -->
      <li *ngIf="categoryTypeSelected == 1 && strategicLine.length && sector.length" class="h-full bg-white rounded-2xl shadow-md md:p-4 p-2 w-[90%] flex-shrink-0 md:max-w-[350px] ">
        <p class="text-primary text-sm text-wrap md:text-[17px] font-black  ">Códigos - programa</p>
        <hr class=" border-[3px] rounded-xl my-2 border-[#ebebff]"/>

        <ul  class="strategicLinesList w-full">
          <li *ngFor="let s of programCodes" (click)="chooseCode(s.id)" [ngClass]="{'strategicLineActive':  s.id == code }"  class="strategicLine text-wrap md:text-base text-xs">
              {{s.name}}
          </li>
        </ul>
      </li>

      <!-- INDICATORS OF WELFARE    -->
      <li *ngIf="categoryTypeSelected == 1 && strategicLine.length && code.length && sector.length " class="h-full bg-white rounded-2xl shadow-md md:p-4 p-2 w-[90%] flex-shrink-0 md:max-w-[350px] ">
        <p class="text-primary text-sm text-wrap md:text-[17px] font-black  ">Metas Producto: </p>

        <ul  class="strategicLinesList w-full max-h-[600px] overflow-y-auto">
          <li *ngFor="let s of productGoals" (click)="chooseProductGoal(s)" [ngClass]="{'goalSelected': productGoal?.id == s.id}" class="productGoal  text-wrap md:text-base text-xs cursor-pointer">
              {{s.name}}
          </li>
        </ul>
      </li>

      <!-- PRODUCT GOALS -->
       <li *ngIf=" productGoal !== undefined" class="h-full bg-white rounded-2xl shadow-md md:p-4 p-2 w-[90%] flex-shrink-0 md:max-w-[350px] ">
         <div class="flex justify-between items-center gap-2 md:flex-nowrap flex-wrap">
          <p class="text-primary text-sm text-wrap md:text-[17px] font-black   ">{{productGoal.name}}</p>
          <a *ngIf="filterByDpt === 'false'" (click)="goToDetail()" class="cursor-pointer" >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
            </svg>
          </a>
        </div>
        <hr class=" border-[3px] rounded-xl my-2 border-[#ebebff]"/>


        <p class="text-primary text-sm md:text-[16px] font-semibold  ">Tipo de Meta: </p>
        <p class="text-wrap md:text-sm text-xs">{{productGoal.goal_type}} </p>
        <hr class=" border-[1px] rounded-xl my-1 border-[#ebebff]"/>
        <p class="text-primary text-sm md:text-[16px] font-semibold  ">Código de Producto MGA: </p>
        <p class="text-wrap md:text-sm text-xs">{{productGoal.code_indicator_product_mga}} </p>
        <hr class=" border-[1px] rounded-xl my-1 border-[#ebebff]"/>
        <p class="text-primary text-sm md:text-[16px] font-semibold  ">Producto de la MGA:</p>
        <p class="text-wrap md:text-sm text-xs">{{productGoal.product_mga}} </p>
        <hr class=" border-[1px] rounded-xl my-1 border-[#ebebff]"/>
        <p class="text-primary text-sm md:text-[16px] font-semibold  ">Indicador de Producto MGA:</p>
        <p class="text-wrap md:text-sm text-xs">{{productGoal.indicator_product_mga}} </p>
        <hr class=" border-[1px] rounded-xl my-1 border-[#ebebff]"/>
        <p class="text-primary text-sm md:text-[16px] font-semibold  ">Unidad de Medida:</p>
        <p class="text-wrap md:text-sm text-xs">{{productGoal.unit_measurement.name}} </p>
        <hr class=" border-[1px] rounded-xl my-1 border-[#ebebff]"/>
        <p class="text-primary text-sm md:text-[16px] font-semibold  ">Meta del Cuatrienio:</p>
        <p class="text-wrap md:text-sm text-xs">{{productGoal.goal_four_years}} </p>
        <hr class=" border-[1px] rounded-xl my-1 border-[#ebebff]"/>
        <p class="text-primary text-sm md:text-[16px] font-semibold  ">Consecutivo de la Meta:</p>
        <p class="text-wrap md:text-sm text-xs">{{productGoal.consecutive}} </p>
        <hr class=" border-[1px] rounded-xl my-1 border-[#ebebff]"/>
        <p class="text-primary text-sm md:text-[16px] font-semibold  ">Bpin</p>
        <p class="text-wrap md:text-sm text-xs">{{productGoal.bpin || '-' }} </p>
        <hr class=" border-[1px] rounded-xl my-1 border-[#ebebff]"/>
      </li>
    </ul>
    <div class="flex justify-center items-center py-6" *ngIf="isLoading">
      <app-loader></app-loader>
    </div>
  </div>
</div>

