<div  class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg max-h-[70vh] overflow-y-auto bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl sm:p-6">
        <div>
          <div class="mx-auto flex size-12 items-center justify-center rounded-full bg-green-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-600">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
            </svg>

          </div>
          <div class="mt-3  sm:mt-5">
            <h3 class="text-base text-center font-semibold text-gray-900" id="modal-title">Agregar contrato</h3>
            <div class="mt-2">
              <form  [formGroup]="contractForm" class=" gap-3  ">
                <div >
                  <label class="block mb-1 text-sm font-medium text-primary truncate">Objeto de contrato</label>
                  <textarea
                    rows="2"
                    formControlName="object"
                    placeholder="Ingresa el objeto de contrato"
                    class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                  >
                  </textarea>
                </div>

                <div class=" mt-3  ">
                  <label class="block mb-1 text-sm font-medium text-primary truncate">Modalidad</label>

                  <select formControlName="modality" id="modality" name="modality"  class=" block w-full rounded-2xl bg-gray-100 px-3 py-1 md:py-1.5 text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                    <option value="">Selecciona la modalidad del contrato</option>
                    <option *ngFor="let m of modalities" [value]="m.id">{{m.name}}</option>
                  </select>

                </div>
                <div class=" mt-3   ">
                  <label class="block mb-1 text-sm font-medium text-primary truncate">Año</label>
                  <select id="year" name="year" formControlName="year" class=" block w-full rounded-2xl bg-gray-100 px-3 py-1 md:py-1.5 text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                    <option [value]="years?.first_year">{{years?.first_year}}</option>
                    <option [value]="years?.second_year">{{years?.second_year}}</option>
                    <option [value]="years?.third_year">{{years?.third_year}}</option>
                    <option [value]="years?.fourth_year">{{years?.fourth_year}}</option>
                  </select>
                </div>
                <div class="grid lg:grid-cols-2 gap-3 mt-3">
                  <div class="">
                    <div  class="mb-2">
                      <label class="block mb-1 text-sm font-medium text-primary truncate">Fecha inicio contrato</label>
                      <input
                        type="date"
                        formControlName="start_date"
                        class="block w-full  rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                      >
                    </div>

                  </div>

                  <div class="">
                    <div >
                      <label class="block mb-1 text-sm font-medium text-primary truncate">Fecha fin contrato</label>
                      <input
                        type="date"
                        formControlName="end_date"
                        class="block w-full rounded-2xl bg-gray-100 px-3 py-1  text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                      >
                    </div>
                  </div>
                </div>
                <fieldset class="mt-3">
                  <legend class="text-sm/6 font-normal text-primary">Unidades ejecutoras</legend>
                  <div class="mt-6  grid lg:grid-cols-2 xl:grid-cols-2 grid-cols-1 gap-4 mb-3">
                    <div *ngFor="let c of contractExecutions" class="flex items-center">
                      <input [id]="c.id"  [value]="c.id"  formControlName="executing_unit" name="executing_unit" type="radio"  class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white checked:border-indigo-600 checked:bg-indigo-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden [&:not(:checked)]:before:hidden">
                      <label [for]="c.id" class="ml-3 block text-sm/6 font-medium text-gray-900">{{c.name}}</label>
                    </div>
                  </div>
                  <app-pagination [limit]="contractExecutionLimit" [offset]="contractExecutionOffset" (onPageChange)="onPaginateContractExecution($event)" ></app-pagination>
                </fieldset>

              </form>

              <hr class="my-4">
              <div>
                <p class="text-primary font-normal text-sm">Productos a contratar</p>
                <ul *ngIf="catalogProductsSelected.length" class="bg-purple-50 rounded-xl my-2 w-full max-h-60 overflow-y-scroll divide-y divide-purple-700">
                  <li *ngFor="let cp of catalogProductsSelected; let i = index" class="p-2 text-xs flex items-center  cursor-pointer font-normal text-purple-700 hover:bg-purple-100 ">
                    <span>   {{cp.description | slice:0:100}}</span>
                    <span class=" ml-2 " (click)="deleteProductContrated(i)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                      </svg>
                    </span>
                  </li>
                </ul>
                <div class="relative">
                  <input [(ngModel)]="searchCatalogProducts"
                    (keyup)="getProductsContracts(searchCatalogProducts)"
                    type="text"
                    class="block w-full mb-2 rounded-2xl bg-gray-100 px-3 py-1 text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                    name="search-products"
                    placeholder="Buscar productos"
                    id=""
                  >

                  <!-- Loader (spinner) -->
                  <div *ngIf="isSearching" class="absolute right-3 top-1/2 -translate-y-1/2">
                    <svg class="animate-spin h-4 w-4 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                  </div>
                </div>
                <ul *ngIf="catalogProducts.length && searchCatalogProducts.length " class="bg-gray-50 rounded-xl w-full max-h-60 overflow-y-scroll divide-y divide-purple-700">
                  <li *ngFor="let cp of catalogProducts" (click)="chooseProduct(cp.id, cp.description)" class="p-2 text-xs cursor-pointer font-normal text-gray-700 hover:bg-gray-100 "> {{cp.description}} </li>
                </ul>


              </div>
              <hr class="my-4">
              <div>
                <p class="text-primary font-normal text-sm">Catálogo de UNSPC</p>
                <ul *ngIf="wellnessCatalogueSelected.length" class="bg-purple-50 my-2 rounded-xl w-full max-h-60 overflow-y-auto divide-y divide-purple-700">
                  <li *ngFor="let cp of wellnessCatalogueSelected; let i = index" class="p-2 text-xs flex items-center cursor-pointer font-normal text-purple-700 hover:bg-purple-100 ">
                    <span> {{cp.code }} - {{cp.name}} </span>
                    <span class=" ml-2 " (click)="deleteWellness(i)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                      </svg>
                    </span>
                  </li>
                </ul>
                <div class="relative">
                  <input [(ngModel)]="searchCatalogWellness"
                    (keyup)="getWellnessCatalogue(searchCatalogWellness)"
                    type="text"
                    class="block w-full mb-2 rounded-2xl bg-gray-100 px-3 py-1 text-xs md:text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                    name="search-products"
                    placeholder="Buscar productos"
                    id=""
                  >

                  <!-- Loader (spinner) -->
                  <div *ngIf="isWellnessSearching" class="absolute right-3 top-1/2 -translate-y-1/2">
                    <svg class="animate-spin h-4 w-4 text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                  </div>
                </div>
                <ul *ngIf="wellnessCatalogue.length && searchCatalogWellness.length " class="bg-gray-50 rounded-xl w-full max-h-60 overflow-y-auto divide-y divide-purple-700">
                  <li *ngFor="let cp of wellnessCatalogue" (click)="chooseWellnessCatalogue(cp.id, cp.code, cp.name)" class="p-2 text-xs cursor-pointer font-normal text-gray-700 hover:bg-gray-100 ">  {{cp.code }} - {{cp.name}} </li>
                </ul>


              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isLoading" class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
          <button (click)="createContract()" type="button" class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2">Agregar contrato</button>
          <button (click)="goAway()"  type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancelar</button>
        </div>
        <div *ngIf="isLoading" class="flex justify-center items-center py-4">
          <app-loader></app-loader>
        </div>
      </div>
    </div>
  </div>
</div>

