<div class="bg-white rounded-xl mt-10 p-3 py-5">

  <div class=" flow-root">
    <div class=" overflow-x-auto mb-4">
      <div class="inline-block min-w-full py-2 align-middle ">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-primary sm:pl-0">Cod. Sector</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Sector</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Cod. Programa</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Programa</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Cod. Rubro</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Rubro</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Cod. Meta</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Meta</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Apropiación Inicial</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Adiciones</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Reducciones</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Aplazamiento</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Desplazamiento</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Traslado con Crédito</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Traslado  Crédito</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Total Apropiación</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Disponibilidad</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Compromisos anteriores</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Compromisos / mes</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Compromisos Acumulados</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Saldo por ejecutar</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Pagos anteriores</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Pagos / mes</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Pagos acumulados</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Obligaciones por pagar</th>
              <th scope="col" class="text-nowrap px-3 py-3.5 text-left text-sm font-semibold text-primary">Saldo</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-primary sm:pl-0">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">xxxx</td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay Walton</span></a>
              </td>
            </tr>

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
    <app-pagination></app-pagination>
  </div>
</div>

