<!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-indigo-600">404</p>
    <h1 class="mt-4 text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Página en construcción</h1>
    <p class="mt-6 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">Estamos trabajando desarrollando esta funcionalidad.</p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a  class="text-sm font-semibold text-gray-900">Continua en otra pestaña <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</main>
