
<div class="flex min-h-full">
  <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <h2 class="mt-8 text-2xl/9 font-bold tracking-tight text-primary">Iniciar Sesión</h2>
        <p class="mt-2 text-sm/6 text-gray-500">
          Bienvenido! ingresa los datos para acceder a tu cuenta
        </p>
      </div>

      <div class="mt-10">
        <div>
          <div  class="space-y-6">
            <div>
              <label for="email" class="block text-sm/6 font-medium text-primary">Correo electrónico</label>
              <div class="mt-2">
                <input type="email" name="email" [(ngModel)]="username" id="email" autocomplete="email" placeholder="Ingresa tu correo electrónico" required class="block w-full rounded-2xl bg-gray-100 px-3 py-1.5 text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
              </div>
            </div>

            <div>
              <label for="password" class="block text-sm/6 font-medium text-primary">Contraseña</label>
              <div class="mt-2">
                <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="Ingresa tu contraseña" autocomplete="current-password" required class="block w-full rounded-2xl bg-gray-100 px-3 py-1.5 text-base text-primary outline outline-1 -outline-offset-1 outline-gray-100 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
              </div>
            </div>

            <div class="flex items-center justify-center">
              <div class="text-sm/6">
                <a routerLink="/auth/recoverPassword" class="font-semibold text-indigo-600 hover:underline hover:text-indigo-500">¿Ha olvidado su contraseña?</a>
              </div>
            </div>

            <div>
              <button type="button" (click)="login()" *ngIf="!isLoading"  class="flex w-full justify-center rounded-2xl bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Enviar</button>
            </div>
            <div class="flex justify-center items-center py-8" *ngIf="isLoading">
              <app-loader></app-loader>
            </div>
            <p class="text-center text-sm/6  text-gray-500">
              <a href="https://lamac.com.co/t%C3%A9rminos-y-condiciones" target="_blank" class="font-semibold text-indigo-600 hover:text-indigo-500">Términos de uso y Política de Privacidad</a>
              <br>
              © 2022 LAMAC S.A.S | Todos los derechos reservados
            </p>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img class="absolute inset-0 size-full object-cover" src="https://www.planeacionydesarrollo.com.co/792f8cc261e919a6d3c5.jpg" alt="">
    <div class="overlay size-full inset-0 absolute py-24">
      <div class="text-center text-white text-5xl font-bold">Planeación para el Desarrollo</div>
      <div class="flex flex-col h-full items-center justify-center">
        <svg  xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 162 207" class="h-36 w-36 object-contain"><rect width="22" height="40" y="74" fill="#fff" data-name="Rectangle 138" rx="8"></rect><rect width="22" height="105" x="28" y="46" fill="#fff" data-name="Rectangle 139" rx="8"></rect><rect width="22" height="105" x="56" y="28" fill="#fff" data-name="Rectangle 140" rx="8"></rect><rect width="22" height="22" x="56" fill="#fff3f3" data-name="Rectangle 141" opacity="0.62" rx="8"></rect><rect width="22" height="105" x="84" y="72" fill="#fff" data-name="Rectangle 135" rx="8"></rect><rect width="22" height="22" x="84" y="185" fill="#fff" data-name="Rectangle 136" opacity="0.62" rx="8"></rect><rect width="22" height="64" x="112" y="59" fill="#fff" data-name="Rectangle 137" rx="8"></rect><rect width="22" height="22" x="140" y="82" fill="#fff" data-name="Rectangle 142" rx="8"></rect></svg>
      </div>
    </div>
  </div>
</div>
