@tailwind base;
@tailwind components;
@tailwind utilities;


.text-primary {
  color: #6c69e9;
}

.bg-primary {
  background-color: #6c69e9;
}

.text-gray {
  color: #cfcfcf;
}

.text-dark {
  color: black;
}

.badge-primary{
  background-color: #6c69e9;
  color:white;
}

.badge-green{
  background: #03dbb2;
  color: #fff;
}
